<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="row">
    <div class="col-md-6">
      <ba-card cardTitle="Cadastrar Serviço" baCardClass="with-scroll">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{'has-error': (!nome.valid && nome.touched), 'has-success': (nome.valid && nome.touched)}">
              <label for="inputFirstNome">Nome</label>
              <input [formControl]="nome" type="text" class="form-control" id="inputnome" placeholder="Nome">
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ba-card cardTitle="Avatar" baCardClass="with-scroll">
                <ba-picture-uploader  [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="options"  (beforeUpload)="beforeUpload($event)"></ba-picture-uploader>
              </ba-card>
            </div>          
            </div>
        <button  type="submit" (click)="vaPara()" class="btn btn-primary">Submit</button>
      </ba-card>
    </div>
  </div>
</form>
login senha agenda